@import "tailwindcss";

@theme {
  --color-primary: #13a4ec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101c22;
  --font-display: var(--font-display);
  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
  
  /* Dark mode configuration */
  --default-transition-duration: 300ms;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  font-family: var(--font-display), sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
